.about__container {
    display: grid;
    grid-template-columns: 1fr; /* Ensure single column layout */
    gap: 2rem; /* Space between the two sections */
}

.about__me {
    width: 100%;
    margin: 0 auto; /* Center the image container */
    max-width: 400px;
    display: flex;
    justify-content: center;
}

.about__me-image {
    overflow: hidden;
    transition: var(--transition);
    background: transparent;
}


.about__me-image img {
    display: block;
    width: 100%;
    height: auto;
    background-color: transparent;
}

.about__me-image:hover {
    transform: scale(1.1);
}

.about__content {
    text-align: center; /* Align content in the center */
}

.about__cards {
    display: grid;
    grid-template-columns: 1fr; /* Stack cards vertically */
    gap: 1.5rem;
}

.about__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
}

.about__card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.about__icon {
    color: var(--color-primary);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.about__card h5 {
    font-size: 1rem;
}

.about__card small {
    font-size: 0.9rem;
    color: var(--color-light);
}

.about__content p {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}

@media screen and (max-width: 1024px) {
    .about__me {
        width: 70%;
        margin: 2rem auto; 
    }
    
    .about__content {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .about__me {
        width: 80%;
        margin: 1rem auto; 
    }

    .about__cards {
        grid-template-columns: 1fr; /* Ensure cards remain stacked */
        gap: 1rem;
    }
}